body { /* modifying the body element*/
    background-image: url('https://static.vecteezy.com/system/resources/previews/016/348/270/non_2x/tunnel-of-concentric-hearts-romantic-cute-background-pink-aesthetic-hearts-backdrop-illustration-vector.jpg');
    color: white; 
    /*cascading */
    h1{ /*referencing the h1 in body to be*/
        color: rgb(201, 50, 106); 
    }
    h2{
        color:rgb(191, 136, 255)
    }
      
    
} /*From index */
.firstCat{
    color:deeppink;
}
/*From index */
.secondCat{
    color: rgb(255, 255, 255);
}
/*from shrub.html */
.dog1{
    color:rgb(255, 214, 127)
}

a{
    color:rgb(214, 52, 125);
}

/*Animation for HELLO WORLD! in index.html*/
.slide-in {
  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: 3;
  animation-direction: alternate;
}
@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

